body {
    background-color: $color-dark;
    color: $color-white;
    font-family: $font-family-main;
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.home {
    flex-grow: 1;
}

button {
    &:focus {
        outline: none;
    }
}

::-webkit-input-placeholder {
    color: $color-white;
}

:-ms-input-placeholder {
    color: $color-white;
}

::placeholder {
    color: $color-white;
}
